{% extends 'base.html.twig' %}

{% block title %}Nous Rejoindre{% endblock %}

{% block body %}
{{ component('breadcrumbs', {'title': block('title')}) }}
<section class="auth">
    <div class="container">
        <div class="row justify-content-center">
            <div class="section-header">
            </div>
            <div class="info-box" data-aos="fade-up" data-aos-delay="100">
                    {{ component('registration', {
                            user: user.id ? user: null,
                            form: form
                    }) }}
            </div>
        </div>
    </div>
</section>

{% endblock %}
