<section id="clients" class="clients mb-5">
  <div class="container" data-aos="fade-up">
    <header class="section-title">
      <h2>Nos partenaires</h2>
    </header>
    <div class="clients-slider swiper">
      <div class="swiper-wrapper align-items-center">
        <div class="swiper-slide"><img src="/images/clients/giants.png" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="/images/clients/steam.png" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="/images/clients/instant-gaming.png" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="/images/clients/truckbook.png" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="/images/clients/ets.jpg" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="/images/clients/univers-simu.png" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="/images/clients/youtube.png" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="/images/clients/facebook.png" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="/images/clients/truckermp.jpg" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="/images/clients/discord.png" class="img-fluid" alt=""></div>
      </div>
    </div>
  </div>
</section>