<footer id="footer" class="footer">
  <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <h4>Notre newsletter</h4>
          <p>Inscrivez vous à notre newsletter afin de rester informé des  mises à jour ainsi que de nos nouvelles publications</p>
        </div>
        <div class="col-lg-6">
          <form action="" method="post">
            <input class="form-control" placeholder="Votre Email" type="email" name="email"><input type="submit" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-top">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>Team Occitanie</span>
          </a>
          <p>La Team Occitanie existe depuis 2017 et as pour but de vous proposer des sessions multi joueurs sur des jeux tel que Farming Simulator et Euro Trucks Simulator.</p>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="col-lg-2 col-6 footer-links">
          <h4>Liens Utiles</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="{{ path('app_home') }}">Accueil</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="{{ path('app_blog_index') }}">Publications</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="{{ path('app_portfolio') }}">Portfolio</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="{{path('app_home')}}#team">Team</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-6 footer-links">
          <h4>Divers</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Confidentialité</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            <strong>Phone:</strong> +33 7 54 27 07 77<br>
            <strong>Email:</strong> contact@team-occitanie.fr<br>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>TeamOccitanie</span></strong>. Tous droits réservés
    </div>
    <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</footer><!-- End Footer -->