<section id="hero" class="hero">
    <img src="/images/FS22_tractor.jpg" alt="" data-aos="fade-in">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <h2 data-aos="fade-up" data-aos-delay="400">Bienvenue sur la Team</h2>
                <p data-aos="fade-up" data-aos-delay="800">Nous recrutons régulièrement de nouveaux joueurs.</p>
            </div>
            <div class="col-lg-5">
                <div class="sign-up-form d-flex" data-aos="fade-up" data-aos-delay="1200">
                    <input onclick="window.location.href = '{{ path('auth_discord_start') }}';" type="submit" class="btn btn-success" value="Nous rejoindre">
                </div>
            </div>
        </div>
    </div>
</section>
