{% extends 'base.html.twig' %}

{% block title %}Perte d'identifiants{% endblock %}

{% block body %}

    {{ component('breadcrumbs', {'title': block('title')}) }}

    <section class="recent-posts mt-5 mb-5">
        <div class="container section-title">
            <p>
                S'il existe un compte correspondant à cette adresse, nous vous enverrons un e-mail contenant un lien pour réinitialiser votre mot de passe.
                 Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
            <p>Si vous ne recevez pas d'e-mail, vérifiez votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">essayez à nouveau</a>.</p>
        </div>
    </section>
    
{% endblock %}
