{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}

    {{ component('breadcrumbs', {'title': block('title')}) }}

    <section class="recent-posts mt-5 mb-5">
        <div class="container section-title">
            <h2>Perte des identifiants</h2>
            <p>
                S'il existe un compte correspondant à cette adresse, nous t'enverrons un e-mail contenant un lien pour réinitialiser ton mot de passe.
                 Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
            <p>Si tu ne reçoit pas d'e-mail, vérifie ton dossier spam ou <a href="{{ path('app_forgot_password_request') }}">essaie à nouveau</a>.</p>
        </div>
    </section>
    
{% endblock %}
