{% extends 'base.html.twig' %}

{% block title %}Changement d'identifiants{% endblock %}

{% block body %}

    {{ component('breadcrumbs', {'title': block('title')}) }}


    <section class="auth">
        <div class="container">
            <div class="row justify-content-center">
                <div class="info-box" style="width: 700px;" data-aos="fade-up" data-aos-delay="100">
                    {{ component('resetPassword', {
                        user: user.id ? user: null,
                        form: form
                    }) }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
