/* Services Section - Home Page
  ------------------------------*/
  .services .service-item {
    position: relative;
    padding-top: 40px;
  }
  
  .services .service-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: rgba(33, 37, 41, 0.1);
  }
  
  .services .service-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 2px;
    background: #82A800;
    border-right: 5px solid #ffffff;
  }
  
  .services .service-item .icon {
    width: 48px;
    height: 48px;
    position: relative;
    margin-right: 50px;
    line-height: 0;
  }
  
  .services .service-item .icon i {
    color: rgba(33, 37, 41, 0.7);
    font-size: 56px;
    transition: ease-in-out 0.3s;
    z-index: 2;
    position: relative;
  }
  
  .services .service-item .icon:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    background: #82A800;
    border-radius: 50px;
    z-index: 1;
    bottom: -15px;
    right: -15px;
    transition: 0.3s;
    opacity: 0.5;
  }
  
  .services .service-item .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .services .service-item .title a {
    color: #82A800;
  }
  
  .services .service-item .title a:hover {
    color: #82A800;
  }
  
  .services .service-item .description {
    line-height: 24px;
    font-size: 14px;
  }