<h3 class="sidebar-title">Categories</h3>
<div class="sidebar-item categories">
    <ul>


    {% for categorie in this.allCategorie %}
            
            {% for parent in categorie.categories %}

                <li><a href="{{ path('app_blog_categories', {'slug': parent.slug}) }}">{{ parent.nom }} <span>({{ parent.articles|length }})</span></a></li>
            {% endfor %}
    {% endfor %}
    </ul>
</div>