{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    {{ component('breadcrumbs', {'title': block('title')}) }}
    <section class="auth">
        <div class="container">
            <div class="row justify-content-center">
                <div class="section-header" data-aos="fade-up" data-aos-delay="100">
                    <h2>Editer mon profil</h2>
                </div>
                <div class="info-box" data-aos="fade-up" data-aos-delay="200">
                    {{ component('profilFormInfo', {
                            user: user.id ? user: null,
                            form: formUserInfo
                    }) }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
